html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background: white;
    /* background: linear-gradient(450deg, blue, pink); */
    overflow: hidden;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
}


.container h1 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
    font-size: 70px;
    font-style: italic;
    text-transform: uppercase;
    /* text-shadow: 0 5px 10px #f40029,
    0 6px 5px #3300ff,
    0 13px 10px #1a01a7; */
}


.img {
    position: absolute;
    width: 400px;
    height: 500px;
    border-radius: 10px;
    transition-timing-function: ease-out;

}

.img-1 {
    background: url(img/pexels-photo-10316644.jpeg) no-repeat 50% 50%;
    background-size: cover;
    transition-duration: 1000ms;
}

.img-2{
    background: url(img/pexels-photo-11209129.jpeg) no-repeat 50% 50%;
    background-size: cover;
    transition-duration: 800ms;
}

.img-3 {
    background: url(img/pexels-photo-11212040.jpeg) no-repeat 50% 50%;
    background-size: cover;
    transition-duration: 600ms;
}
.img-4 {
    background: url(img/pexels-photo-2387868.jpeg) no-repeat 50% 50%;
    background-size: cover;
    transition-duration: 400ms;
}

.img-5 {
    background: url(img/pexels-photo-5887242.jpeg) no-repeat 50% 50%;
    background-size: cover;
    transition-duration:  200ms;
}

@media (max-width: 500px) {
    .img {
        position: absolute;
        width: 200px;
        height: 200px;
        border-radius: 10px;
        transition-timing-function: ease-out;
    }
    .container h1 {
        font-size: 40px;
    
    }
    
}